@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-[#d9e4eb] to-[#f1f7fb];
}

.bg-gray-gradient {
  @apply bg-gradient-to-t from-[#bcd4f7] to-[#eaf4ff]
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;  /* Adjust the width of the vertical scrollbar */
  height: 6px; /* Adjust the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background for the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color for the thumb */
  border-radius: 10px; /* Optional: rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color for thumb on hover */
}
